body {
  display: grid;
  grid-column-start: repeat(7, 1fr);
  grid-template-rows: repeat(13, 1fr);
}

.top-nav {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 13;
}

.name-dropdown {
  
}

header {
  grid-row-start: 2;
  grid-row-end: 5;
}