* {
  outline: none;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  display: grid;
  font-family: 'Roboto', sans-serif;
  grid-template-columns: 180px 1fr;
  margin: 0;
}

.main-page {
  display: grid;
  grid-column: 2 / 3;
  grid-template: 250px 1fr/ initial;
}

header {
  border-bottom: 2px solid #d8d8d8;
  display: grid;
  grid-column: 1 / 2;
  grid-template-rows: 1fr 1fr 1fr;
}

/*top navigation styles*/
/*///////////////////////////////////////////////////*/
.top-nav {
  border-bottom: 1px solid #000;
  display: grid;
  grid-column: 1 / 3;
  grid-template: auto / 79px 1fr 79px 79px 79px;
}

.top-nav .fas {
  color: #000;
}

.icon-parent {
  box-sizing: border-box;
  /*border: 1px solid #000;*/
  display: inline-block;
  line-height: 78px;
  text-align: center;

}

.icon-parent:hover {
  background-color: blue;
  cursor: pointer;
}

.parent-fa-bars {
  border-right: 1px solid #000;
  grid-column: 1 / 2;
}

.parent-fa-search {
  display: inline-block;
  line-height: 78px;
  margin-left: 20px;
  margin-right: 10px;
}

#mySearch {
    border-style: none;
  display: inline-block;
  font-size: 1rem;
  height: 3rem;
  outline: none;
  width: 85%;
}

#mySearch::placeholder {
  /*font-size: 1.5rem;*/
}

.parent-fa-user-plus {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  grid-column: 3 / 4;
}

.parent-fa-list-alt {
  border-right: 1px solid #000;
  grid-column: 4 / 5;
}

.parent-fa-th {
  grid-column: 5 / 6;
}

/*/////////////////////////////////////////////////////////*/
/*top navigation styles*/

/*header information fill*/
/*/////////////////////////////////////////////////////////////*/
.header-title-menu {
  display: grid;
  grid-column: 1 / 3;
  grid-template: 1fr 40px 40px / 1fr 300px;
  height: 80px;
}

.header-title {
  font-size: 2rem;
  margin-bottom: 0;
  margin-left: 2rem;
}

.header-sub-title {
  grid-column: 1 / 2;
  margin-left: 2rem;
}

.header-sub-title * {
  color: #000;
  display: inline-block;
  margin-right: 0.5rem;
}

.parent-fa-map-marker-alt {
  margin-right: 0;
}

.parent-fa-circle {
  font-size: 0.5rem;
  margin-right: 0.25rem;
  vertical-align: middle;
}

.second-sub-title:hover {
  color: blue;
  cursor: pointer;
}

.parent-header-button-row {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
  bottom: -60px; 
  left: 80px;
}

.parent-header-button-row * {
  display: inline-block;
}

.header-button {
  border: 1px solid #000;
  border-radius: 50%;
  height: 30px;
  margin-left: 3px;
  width: 30px;
}

.header-button .fas {
  color: #000;
}

.header-button:hover {
  background-color: blue;
  cursor: pointer;
}

.header-button-open {
  border-radius: 30px;
  width: 80px;
}

.header-button-open .fa-circle {
  color: green;
}

.header-button-open-text{
  color: #000;
  margin: 0;
}

.header-button-bookmark {

}

.header-button-edit {

}

.header-button-trash {

}

.site-option-link-row {
  grid-column: 1 / 3;
}

.site-option-link-row ul {
  margin: 0;
  padding: 0;

}

.site-option-link-row li {
  display: inline-block;
  height: 40px;
  margin-left: 30px;
}

.site-option-link-row li:hover {
  border-bottom: 2px solid blue;
  padding-bottom: 10px;
}

.site-option-link-row h4:hover {
  color: #000;
  cursor: pointer;

}

/*/////////////////////////////////////////////////////////////*/
/*header information fill*/

/*sidebar*/
/*////////////////////////////////////////////////////////////////*/

.sidebar {
  background-color: #354051;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  padding-bottom: 10rem;
}

.sidebar .profile-name-link,i,h2,h3,h4 {
  color: #CECEE5;
}

.sidebar .profile-name-link:hover,
.sidebar .profile-name-link:hover .fas,
.sidebar li:hover i,
.sidebar li:hover h2,
.sidebar li:hover h3,
.sidebar li:hover h4 {
  color: #fff;
}

.sidebar-profile-image {
  border-radius: 50%;
  display: block;
  height: 7rem;
  margin: 1rem auto 0;
  width: auto;
}

.profile-name-link {
  display: block;
  text-align: center;
}

.profile-name-link .fas {
  margin-left: 0.2rem;
  margin-bottom: 0;
}

.profile-name-link, .name-dropdown-links{
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  /*text-align: center;*/
}

.name-dropdown {
  background-color: #fff;
  border: 2px solid #000;
  display: none;
  margin: 0 auto;
  margin-top: 0;
  margin-left: 2rem;
  padding: 0;
  position: absolute;
  width: 7rem;
}

.name-dropdown-links {
  display: block;
  color: #354051;
}

.profile-name-link:hover + .name-dropdown{
  display: block;
}

.sidebar hr {
  border-color: #151920;
  /*width: 1rem;*/
}

.sidebar-ul {
  list-style: none;
  padding: 0;
}

.sidebar-ul, .sidebar-link-title {
  margin-left: 1rem;
}

.sidebar-link {
  /*display: inline;*/
}

.sidebar-link-title {
  margin-bottom: 0;
  margin-top: 2rem;
}

.fas, .sidebar-link-text {
  height: 0.75rem;
}

.fas {

}

.sidebar-link-text {
  display: inline-block;
  height: 1rem;
  margin-left: 0.5rem;
}

.sidebar-link-checkbox {
  height: 1rem;
  margin: 1rem auto; 
}

.sidebar-link label {
  color: #CECEE5;
  font-family: 'Roboto', sans-serif;
}

/*/////////////////////////////////////////////////////////////////*/
/*sidebar*/


/*main page fill*/
/*///////////////////////////////////////////////////////////////*/

.main-page-fill {
  display: grid;
  background-color: #ebf2f6;
  grid-column: 1 / 2;
  grid-template-columns: 1fr;
  grid-template-rows: 350px 1fr;
  height: 200vh;
}

.main-page-charts {
  border-bottom: 1px solid #000;
  grid-column: 1 / 3;
  margin-top: 30px;

}

.chart-applicants {
  display: inline-block;
}

.chart-applicants * {
  height: 10rem;
}

.chart-applicants-applicants {
  margin-left: 30px;
}

.chart-percentage {
  font-size: 0.5rem;
}

.chart-description {
  font-size: 0.15rem;
}

.bar-graph {
  height: 11rem;
  margin-right: 30px;
  position: absolute;
  right: 0;
  width: auto;
}

.section-chart-button {
  border: 1px solid #000;
  border-radius: 30px;
  margin-top: 30px;
  margin-left: 145px;
  position: absolute;
  top: 450px;
  left: 210px;
  width: 200px;
}

.section-chart-button:hover,
.section-graph-button:hover {
  cursor: pointer;
  background-color: blue;
}

.section-chart-button-text,
.section-graph-button-text {
  color: #000;
}

.section-graph-button {
  border: 1px solid #000;
  border-radius: 30px;
  display: block;
  margin-top: 30px;
  position: absolute;
  top: 450px;
  right: 120px;
  width: 150px;
}

/*bottom page fill*/
/*//////////////////////////////////////*/
.bottom-page-fill {
  display: grid;
  grid-column: 1 / 2;
  grid-template-columns: 1fr 300px;
}

.job-description-container {
  grid-column: 1 / 2;
}

.job-description {
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 450px;
  height: calc(100% - 160px);
  margin: 30px;
  margin-top: 70px;
  width: 659px;
}

.job-description-header {
  background-color: #5d6673;
  grid-column: 1 / 3;
  height: 70px;
}

.job-description-header-text {
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 20px;
}

.job-description-header-button {
  background-color: #717985;
  border-style: none;
  display: inline-block;
  grid-column: 2 / 3;
  height: 35px;
  margin-left: 80px;
  margin-top: 18px;
  width: 100px;
  
}

.job-description-header-button * {
  display: inline-block;
}

.job-description-header-button-text {
  color: #fff;
  margin: 0;
}

.job-description-text {
  grid-column: 2 / 3;
  margin-left: 10px;
  margin-right: 20px;
}

.job-description hr {
  grid-column: 1 / 3;
  height: 0;
  width: 100%;
}

.job-description-text-title {
  grid-column: 1 / 2;
  margin-left: 20px;
}

.job-description-text-title,
.job-description-text {
  color: #5d6673;
  display: inline-block;
}

.hiring-lead-info {
  grid-column: 2 / 3;
}

.hiring-lead-image {
  display: inline-block;
  /*font-size: 30px;*/
}

.hiring-lead-name {
  display: inline-block;
}

.social-links {
  grid-column: 2 / 3;
}

.social-links-button {
  display: block;
  font-size: 0.8rem;
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  width: calc(100% - 40px);
}

.social-links-button * {
  display: inline-block;
}

.social-links-button h4,
.social-links-button i {
  color: #fff;
}

.social-links-button i {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
 
}

.social-links-button-facebook {
  background-color: #4b70c1;
  margin-top: 70px;

}

.social-links-button-twitter {
  background-color: #02aaef;
}

.social-links-button-linkedin {
  background-color: #0582bd;
}

.sharing-options {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
}

.sharing-options h2,
.sharing-options i {
  color: #000;
  font-size: 1.2rem;
}

.sharing-options i {
  margin-right: 5px;
}

.sharing-options h2 {
  margin-top: 30px;
}

.sharing-options hr {
  margin-top: 50px;
}

.sharing-options-form-parent {
  height: 30px;
  position: relative;
}

.sharing-options-button,
.sharing-options-text-input {
  height: 40px;
}

.sharing-options-text-input{
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #000;
  position: absolute;
  width: 100%;

}

.sharing-options-button {
  background-color: #46b7c2;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #000;
  right: 0;
  top: 0;
  width: 50px;
  margin-left: 0;
  position: absolute;
}

.sharing-options-button[value] {
  color: #fff;
}




/*///////////////////////////////////////*/
/*bottom page fill*/







/*///////////////////////////////////////////////////////////////////*/
/*main page fill*/

