* {
  outline: none;
}

html {
  background-color: #ebf2f6;
  height: 100%;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  display: grid;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  grid-template-columns: 200px 1fr;
  margin: 0;
}

.body-sidebar-collapse {
  grid-template-columns: 1fr;
}

/*.main-page {
  display: grid;
  height: 100vh;
  grid-column: 2 / 3;
  grid-template: 250px 1fr/ initial;
}*/

header {
  background-color: #fff;
  border-bottom: 2px solid #d8d8d8;
  display: grid;
  grid-column: 1 / 2;
  grid-template-rows: 1fr 1fr 1fr;
}

/*top navigation styles*/
/*///////////////////////////////////////////////////*/
.top-nav {
  border-bottom: 1px solid #000;
  display: grid;
  grid-column: 1 / 3;
  grid-template: auto / 79px 1fr 79px 79px 79px;
  width: 100%;
}

.top-nav .fas {
  color: #000;
}

.icon-parent {
  box-sizing: border-box;
  display: inline-block;
  line-height: 78px;
  text-align: center;
}

.icon-parent:hover {
  background-color: #15a3f9;
  cursor: pointer;
}

.hamburger-menu {

}

.parent-fa-bars,
.parent-fa-user-plus,
.parent-fa-list-alt {
  border-right: 1px solid #000;  
}

.parent-fa-bars {
  grid-column: 1 / 2;
}

.parent-fa-search {
  display: inline-block;
  line-height: 78px;
  margin-left: 20px;
  margin-right: 10px;
}

#mySearch {
  border-style: none;
  display: inline-block;
  font-size: 1rem;
  height: 3rem;
  outline: none;
  width: 85%;
}

.parent-fa-user-plus {
  border-left: 1px solid #000;
  grid-column: 3 / 4;
}

.parent-fa-list-alt {
  grid-column: 4 / 5;
}

.parent-fa-th {
  grid-column: 5 / 6;
}

/*/////////////////////////////////////////////////////////*/
/*top navigation styles*/

/*header information fill*/
/*/////////////////////////////////////////////////////////////*/
.header-title-menu {
  background-color: #fff;
  display: grid;
  grid-column: 1 / 3;
  grid-template: 1fr 40px 40px / 1fr 300px;
  height: 80px;
}

.header-title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0;
  margin-left: 2rem;
}

.header-sub-title {
  grid-column: 1 / 2;
  margin-left: 2rem;
}

.header-sub-title * {
  color: #999;
  display: inline-block;
  margin-right: 0.5rem;
}

.parent-fa-map-marker-alt {
  margin-right: 0;
}

.parent-fa-circle {
  font-size: 0.5rem;
  margin-right: 0.25rem;
  vertical-align: middle;
}

.second-sub-title:hover {
  color: #15a3f9;
  cursor: pointer;
}

.parent-header-button-row {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
  bottom: -60px; 
  left: 80px;
}

.parent-header-button-row * {
  display: inline-block;
}

.header-button {
  border: 1px solid #000;
  border-radius: 50%;
  height: 30px;
  margin-left: 3px;
  width: 30px;
}

.header-button .fas {
  color: #000;
}

.header-button:hover {
  background-color: #15A3F9;
  cursor: pointer;
}

.header-button-open {
  border-radius: 30px;
  width: 80px;
}

.header-button-open .fa-circle {
  color: green;
}

.header-button-open-text{
  color: #000;
  margin: 0;
}

.site-option-link-row {
  grid-column: 1 / 3;
}

.site-option-link-row ul {
  margin: 0;
  padding: 0;
}

.site-option-link-row li {
  display: inline-block;
  height: 40px;
  margin-left: 30px;
}

.site-option-link-row h4 {
  color: #999;
}

.site-option-link-row li:hover {
  border-bottom: 2px solid #1082c7;
  padding-bottom: 10px;
}

.site-option-link-row h4:hover {
  color: #000;
  cursor: pointer;
}

/*/////////////////////////////////////////////////////////////*/
/*header information fill*/

/*sidebar*/
/*////////////////////////////////////////////////////////////////*/
.sidebar {
  background-color: #354051;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 2000px;
  grid-row-start: 1;
  grid-row-end: 5;
  padding-bottom: 10rem;
}

.sidebar-hide {
  display: none;
}

.sidebar .profile-name-link,i,h2,h3,h4 {
  color: #CECEE5;
}

.sidebar-profile-image {
  border-radius: 50%;
  display: block;
  height: 7rem;
  margin: 1rem auto 0;
  width: auto;
}

.profile-name-link {
  display: block;
  text-align: center;
}

.profile-name-link .fas {
  margin-left: 0.2rem;
  margin-bottom: 0;
}

.profile-name-link, .name-dropdown-links{
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
}

.name-dropdown {
  background-color: #fff;
  border: 2px solid #000;
  display: none;
  margin: 0 auto;
  margin-top: 0;
  margin-left: 2rem;
  padding: 0;
  position: absolute;
  width: 7rem;
}

.name-dropdown-links {
  display: block;
  color: #354051;
}

.profile-name-link:hover + .name-dropdown{
  display: block;
}

.sidebar hr {
  border-color: #151920;
}

.sidebar-ul {
  list-style: none;
  padding: 0;
}

.sidebar-ul, .sidebar-link-title {
  margin-left: 1rem;
}

.sidebar-link-title {
  margin-bottom: 0;
  margin-top: 2rem;
}

.sidebar-link-text {
  display: inline-block;
  font-size: 1rem;
  line-height: 1rem;
  margin-left: 0.8rem;
}

.checkbox-administrative {
  color: #fde20e;
}

.checkbox-design {
  color: #29acfe;
}

.checkbox-executive {
  color: #f11963;
}

.checkbox-human-resources {
  color: #00ae8a;
}

.sidebar-link label {
  color: #CECEE5;
  font-family: 'Roboto', sans-serif;
}

/*/////////////////////////////////////////////////////////////////*/
/*sidebar*/


/*main page fill*/
/*///////////////////////////////////////////////////////////////*/
.main-page-fill {
  display: grid;
  background-color: #ebf2f6;
  grid-column: 1 / 2;
  grid-template-columns: 1fr;
  /*grid-template-rows: 350px 1fr;*/
}

.main-page-charts {
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: 60% 40%;
  height: 100%;
  max-height: 25vw;
}

/*START circular charts article*/
/*////////////////////////////////////*/
.circular-charts-article {
  box-sizing: border-box;
  display: inline-block;
  grid-column: 1 / 2;
  margin-top: 30px;
  margin-left: 50px;
}

.circular-charts-row-container {
  box-sizing: border-box;
  display: inline-block;
  height: auto;
  padding-top: 40px;
  white-space: nowrap;
  width: 100%;
}

.chart-applicants {
  display: inline-block;
  margin-right: 20px;
  width: calc(33% - 20px);
}

.chart-applicants svg {
  display: block;
  /*height: auto;*/
  /*width: 100%;*/
}

.chart-applicants-right {
  margin-right: 0;
}

.chart-percentage {
  font-size: 0.5rem;
}

.chart-description {
  font-size: 0.15rem;
}

/*//////////////////////////////////////*/
/*END circular charts article*/


/*START bar graph article*/
/*//////////////////////////////////////*/
.bar-graph-article {
  display: inline-block;
  grid-column: 2 / 3;
  margin-top: 30px;
  margin-right: 40px; 
}

.bar-graph-container {
  display: inline-block;
  height: 100%;
  width: 100%;
  white-space: nowrap;
}

.bar-graph {
  display: block;
  height: auto;
  margin: 0;
  width: 100%;
}


/*////////////////////////////////////////*/
/*END bar graph article*/


/*START chart and graph article buttons*/
/*////////////////////////////////////////////*/
.section-chart-button,
.section-graph-button {
  border: 1px solid #000;
  border-radius: 30px;
  display: block;
  margin: 20px auto 0;
}

.section-chart-button:hover,
.section-graph-button:hover {
  cursor: pointer;
  background-color: #15A3F9;
}

.section-graph-button {
  margin-top: 43px; 
  width: 8vw;
}

.section-chart-button-text,
.section-graph-button-text {
  color: #000;
  font-size: 0.6vw;
}

/*////////////////////////////////////////*/
/*END chart and graph article buttons*/


/*bottom page fill*/
/*//////////////////////////////////////*/
.bottom-page-fill {
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: 70% 30%;
  height: 100%;
  max-height: 80vw;
}

.job-description-container {
  box-sizing: border-box;
  display: inline-block;
  grid-column: 1 / 2;
  margin: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 70px;
} 

.job-description {
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: auto;
  /*grid-template-columns: 250px 1fr;*/
  /*height: 100%;*/
}

.job-description-table {
  border-collapse: collapse;
  height: 100%;
}

.job-description-header {
  /*display: grid;
  grid-template-columns: 250px 1fr;*/
  background-color: #5d6673;
  /*grid-column: 1 / 3;
  height: 70px;*/
}

.job-description-header-text {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  /*margin: 0;
  padding: 0;
  position: relative;
  top: calc(50% - 10px);
  left: 50px;
*/}

.job-description-header-text-th,
.job-description-header-button-th {
  padding: 22px;
  padding-left: 26px;
}



.job-description-header-button-th {
  padding-left: 0;
}

.job-description-header-button {
  background-color: #717985;
  border-style: none;
  display: inline-block;
  grid-column: 2 / 3;
  height: 42px;
  /*margin-top: 18px;*/
  width: 120px;
}

.job-description-header-button * {
  display: inline-block;
}

td, th {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 42px 26px;
    padding-right: 0;
}

.job-description-header-button-th .fa-pen,
.job-description-header-button-text {
  font-size: 16px;
}

.job-description-header-button-text {
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
}

.job-description-text {
  /*grid-column: 2 / 3;
  margin-left: 10px;
  margin-right: 20px;*/
  color: #9ba1a9;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.job-description-text-th {
  padding-left: 0;
  padding-right: 26px;
}

.job-description-text-title {
  /*grid-column: 1 / 2;
  margin-left: 50px;*/
  margin: 0;
}

.job-description-text-title {
  color: #5d6673;
  /*display: inline-block;*/
}

.job-description-text-description {
  color: #9ba1a9;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8rem;
  margin: 0
}

.hiring-lead-image {
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  vertical-align: middle;
}

.hiring-lead-name {
  display: inline-block;
  padding-left: 10px;
}

.social-links-container {
  display: inline-block;
  grid-column: 2 / 3;
  margin-right: 50px;
  margin-top: 70px;
}

.social-links {
  display: inline-block;
  height: 100%;
  width: 100%;
  /*margin-bottom: 50px;*/
}

.social-links-button {
  display: block;
  font-size: 1rem;
  height: 4vw;
  /*margin-top: 20px;*/
  margin: 20px auto 0;
  position: relative;
  width: 100%;
}

.social-links-button * {
  display: inline-block;
}

.social-links-button h4,
.social-links-button i {
  color: #fff;
  font-size: 1vw;
}

.social-links-button i {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
 
}

.social-links-button-facebook {
  background-color: #4b70c1;
  margin-top: 0;
}

.social-links-button-twitter {
  background-color: #02aaef;
}

.social-links-button-linkedin {
  background-color: #0582bd;
}

/*.sharing-options {
  display: block;
  margin-right: 50px;
  margin-top: 60px;
  max-height: 100%;
}
*/
.sharing-options-title,
.sharing-options-title-icon {
  color: #000;
  font-size: 1.5rem;
}

.sharing-options-title-icon {
  margin-right: 10px;
}

.sharing-options-title {
  margin-top: 40px;
  margin-bottom: 30px;
}

.sharing-options-text {
  line-height: 1.5;
  margin-bottom: 30px;
}

.sharing-options-hr {
  margin-top: 90px;
}

.sharing-options-form-parent {
  height: 30px;
  position: relative;
}

.sharing-options-button,
.sharing-options-text-input {
  height: 4vw;
}

.sharing-options-text-input{
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #000;
  position: absolute;
  width: 100%;
}

.sharing-options-button {
  background-color: #46b7c2;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #000;
  right: 0;
  top: 0;
  width: 5vw;
  margin-left: 0;
  position: absolute;
}

.sharing-options-button[value] {
  color: #fff;
  font-size: 0.8vw;
}

.sharing-input-last {
  /*margin-bottom: 100px;*/
}

/*///////////////////////////////////////*/
/*bottom page fill*/


/*///////////////////////////////////////////////////////////////////*/
/*main page fill*/

@media only screen and (max-width: 1200px) {

  /*.job-description {
    background-color: red;
  }*/

  /*.sharing-options-title {
    margin-top: 5.5vh;
  }*/


}





